.container {
    display: flex;
}
.textContainer {
    flex-grow: 1;
    font-size: 12px;
    
}
.image {
    margin: 8px;
    
    width: 40%;
    height: auto;
}


@media screen and (min-width: 600px) {
    .textContainer {
        flex-grow: 1;
        font-size: 16px;
    }
}