.container {
    display: flex;
}

.image {
    margin: 8px;
    width: 40%;
    height: auto;
}
nav {
    display: flex;
    align-content: space-around;
    justify-content: space-between;
    width: 60%;
}
.textContainer {
    flex-grow: 1;
    font-size: 12px;
}

@media screen and (min-width: 600px) {
    .textContainer {
        flex-grow: 1;
        font-size: 16px;
    }
}

