.container {
    margin: 16px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.image {
    margin: 8px;
    width: 40%;
    height: auto;
}
nav {
    display: flex;
    align-content: space-around;
    justify-content: space-between;
    width: 60%;
}

a {
    font-size: 1.5rem;
    padding: 20px;

    border: 2px solid black;
}