.container {
    margin: 16px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.image {
    margin: 8px;
    width: 40%;
    height: auto;
}
nav {
    display: flex;
    align-content: space-around;
    justify-content: space-between;
    width: 60%;
}

