.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: auto;
    margin: 16px;
    text-align: center;
}

.imagePizza {
    width: 135px;
    height: auto;
}


.imageGrey {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    width: 150px;
    height: auto;
}

.imageGrey:hover {
    -webkit-filter: grayscale(0);
        filter: none;
}

.buttonContainer {
    width:40%;
    display: flex;
    justify-content: space-between;
}
.button {
    border: 1px solid black;
    cursor: pointer;
    padding: 8px;
    background-color: #edc84b;
}

.button:hover {
    color: white;
    background-color: black;
}

.pizzaName,
.ingredients, 
.price,
.buttonContainer {
    margin: 4px;
}
@media screen and (min-width: 725px) {
    .card { 
        width: 90%;
        height: auto;
    }

    .imagePizza,
    .imageGrey {
        width: 200px;
        height: auto;
    }
}