.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: auto;
    margin: 16px;
}

.imagePizza {
    width: 150px;
    height: auto;
}
.button {
    border: 1px solid black;
    padding: 4px;
    background-color: aqua;
}

.imageGrey {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    width: 150px;
    height: auto;
}

.imageGrey:hover {
    -webkit-filter: grayscale(0);
        filter: none;
}

@media screen and (min-width: 600px) {
    .card { 
        width: 150px;
        height: auto;
    }

    .imagePizza,
    .imageGrey {
        width: 200px;
        height: auto;
    }
}