.orderBar {
    width: 100%;
    height: 60px;
    background-color: #edc84b;
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
}

.button {
    background-color: #f7f2e9;
    cursor: pointer;
    padding-left: 12px;
    padding-right: 12px;
    border: 1px solid black;
}
.button:hover {
    background-color: #252525;
    color: #f7f2e9;
}