.modal::backdrop {
    background: #edc84b;
    opacity: 0.4;
  }
  
  .modal {
    background: #f7f2e9;
    border: 3px solid black;
    border-radius: 20px;

    height: auto;
    width: 70%;
    
    padding: 16px;
    position: relative;
    overflow: auto;
    overflow-y: hidden;
  }
  
  .modal-close-btn {
    font-size: 12px;
    position: absolute;
    right: 12px;
    top: 4px;
  }
  