@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300&display=swap');

* {
    
    box-sizing: border-box;
  }
  
  html {
    height: 100vh;
  }
  
  body {
    font-family: 'Roboto Mono', sans-serif;
    color: #252525;
    font-weight: 400;
    background-color: #f7f2e9;
    border-bottom: 1.6rem solid #edc84b;
    height: 100vh;
    margin: 0;
    padding: 2rem;
    padding-bottom: 6rem;
  }

  #root {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
  }